name: Publish Documentation

on:
    workflow_dispatch:

permissions:
    id-token: write
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Setup Go
              uses: actions/setup-go@v4
              with:
                  go-version: "1.24"

            - name: Install MinimalDoc
              run: go install github.com/studiowebux/minimaldoc/cmd/minimaldoc@late

            - name: Build static files
              id: build
              run: minimaldoc build --base-url / --description "Obsidian.md plugin to read and edit a CSV file, then use it as a data source to generate charts." --title "Obsidian FinDoc" --llms --output ./output ./doc

            - name: Upload static files as artifact
              id: deployment
              uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
              with:
                  path: ./output/

    # Deployment job
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
